@tailwind base;
@tailwind components;
@tailwind utilities;

body {
}

@layer base {
  :root {
    --background: 210 29% 96%;
    --foreground: 224 71% 4%;
    --card: 210 29% 99%;
    --card-foreground: 224 71% 4%;
    --popover: 210 29% 99%;
    --popover-foreground: 224 71% 4%;
    --primary: 196 25% 58%;
    --primary-foreground: 356 75% 97%;
    --secondary: 210 28% 90%;
    --secondary-foreground: 224 71% 4%;
    --muted: 210 28% 90%;
    --muted-foreground: 216 12% 47%;
    --accent: 43 81% 64%;
    --accent-foreground: 43 93% 14%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 20% 86%;
    --input: 210 20% 86%;
    --ring: 196 25% 58%;
    --chart-1: 196 30% 50%;
    --chart-2: 43 80% 60%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 220 18% 11%;
    --foreground: 210 40% 98%;
    --card: 220 18% 11%;
    --card-foreground: 210 40% 98%;
    --popover: 220 18% 11%;
    --popover-foreground: 210 40% 98%;
    --primary: 196 25% 58%;
    --primary-foreground: 356 75% 97%;
    --secondary: 217 33% 17%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217 33% 17%;
    --muted-foreground: 215 20% 65%;
    --accent: 43 81% 64%;
    --accent-foreground: 43 93% 14%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 217 33% 17%;
    --input: 217 33% 17%;
    --ring: 196 25% 58%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
